body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button[type="submit"],
.otp-btn,
.google-btn {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

.otp-btn {
   background-color: #723fe9;
  color: white;
  margin-top: 10px;
}

.google-btn {
   background-color: #175be3;
  color: white;
  margin-top: 10px;
}

.or-divider {
  margin: 20px 0 10px;
  color: #999;
  font-weight: bold;
}

.signup-text {
  margin-top: 20px;
  color: #333;
}

.signup-text a {
  color: #007BFF;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}
